@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

@layer components {
    .span {
        display: none;
    }
    input:invalid~span {
        display: block;
    }
    /* ... */
}